@using Microsoft.AspNetCore.Mvc.Localization
@using amusinghoS.EntityData.Model
@using amusinghoS.Shared
@inject IViewLocalizer Localizer
@model List<amusingArticle>

<div class="container">
    <div class="columns">
        @{
            foreach (var item in Model)
            {
                <div class="column col-4 col-md-6 col-sm-12">
                    <article id="post-669" class="card card-post" onClick="window.location.href='/Article/@item.articleId'" style="cursor:pointer;">
                        <div class="card-image">
                            <a class="card-link">
                                <div class="post-card-image" style="background-image: url('@item.Image')"></div>
                            </a>
                        </div>
                        <div class="card-header">   
                            <a class="card-link" title="@item.Title">
                                <h2 class="post-card-title"> @item.Title </h2>
                                <p>@item.Description</p>
                            </a>
                        </div>
                        <footer class="card-footer">
                            <time class="post-card-date">@item.CreateTime @Html.DisplayName(DatetimeHelper.GetPeriod(item.CreateTime))</time>
                        </footer>
                    </article>
                </div>
            }
        }
    </div>
    <div class="columns">
        <div class="posts-nav-wrap">
            <ul class="posts-nav">
                <li class="previous"><a href="/index/@Html.DisplayName((Convert.ToInt32(ViewData["Current"]) - 1).ToString())" class="previous">←</a></li>
                @{
                    if (ViewData["NextIsNull"].ToString()  == "OK")
                    {

                    }
                    else
                    {
                        <li class="next"><a href="/index/@Html.DisplayName((Convert.ToInt32(ViewData["Current"]) + 1).ToString())" class="next">←</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/my.css" />